### PROJECT 5  Anna Ben Chris
### 2 Basic regression models with different features

In [105]:
#importing librairies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [106]:
# Read cvs file
df = pd.read_csv('../data/2017-2019_aqi_and_temp.csv')

In [107]:
# Getting a 30K foot view of our data using Pandas profiling
#from pandas_profiling import ProfileReport
#profile = ProfileReport(df, title='Report')
#profile

In [108]:
# Getting rid of nan values
df = df.dropna()

In [109]:
df.columns

Index(['date', 'co_max', 'co_aqi_val', 'no2_max', 'no2_aqi_val', 'ozone_max',
       'ozone_aqi_val', 'pm10_mean', 'pm10_aqi_val', 'pm2.5_mean',
       'pm2.5_aqi_val', 'so2_max', 'so2_aqi_val', 'cumulative_aqi',
       'temp_high', 'temp_low', 'temp_avg'],
      dtype='object')

### Choosing the features for our first regression model

In [110]:
features = ['co_max', 'co_aqi_val', 'no2_max', 'no2_aqi_val', 'ozone_max',
       'ozone_aqi_val', 'pm10_mean', 'pm10_aqi_val', 'pm2.5_mean',
       'pm2.5_aqi_val', 'so2_max', 'so2_aqi_val',
       'temp_high', 'temp_low', 'temp_avg']

In [111]:
#setting up our X
X = df[features]

In [112]:
# Y is what we are trying to predict
y = df['cumulative_aqi']

#### Let's do a train test split

In [113]:
from sklearn.model_selection import train_test_split

In [114]:
X_train, X_test, y_train,y_test = train_test_split(X , y, random_state= 22)

In [115]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 624 entries, 816 to 181
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   co_max         624 non-null    float64
 1   co_aqi_val     624 non-null    float64
 2   no2_max        624 non-null    float64
 3   no2_aqi_val    624 non-null    float64
 4   ozone_max      624 non-null    float64
 5   ozone_aqi_val  624 non-null    float64
 6   pm10_mean      624 non-null    float64
 7   pm10_aqi_val   624 non-null    float64
 8   pm2.5_mean     624 non-null    float64
 9   pm2.5_aqi_val  624 non-null    float64
 10  so2_max        624 non-null    float64
 11  so2_aqi_val    624 non-null    float64
 12  temp_high      624 non-null    int64
 13  temp_low       624 non-null    int64
 14  temp_avg       624 non-null    float64
dtypes: float64(13), int64(2)
memory usage: 78.0 KB

In [116]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209 entries, 40 to 882
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   co_max         209 non-null    float64
 1   co_aqi_val     209 non-null    float64
 2   no2_max        209 non-null    float64
 3   no2_aqi_val    209 non-null    float64
 4   ozone_max      209 non-null    float64
 5   ozone_aqi_val  209 non-null    float64
 6   pm10_mean      209 non-null    float64
 7   pm10_aqi_val   209 non-null    float64
 8   pm2.5_mean     209 non-null    float64
 9   pm2.5_aqi_val  209 non-null    float64
 10  so2_max        209 non-null    float64
 11  so2_aqi_val    209 non-null    float64
 12  temp_high      209 non-null    int64
 13  temp_low       209 non-null    int64
 14  temp_avg       209 non-null    float64
dtypes: float64(13), int64(2)
memory usage: 26.1 KB

In [117]:
y_train

816     56.0
41      44.0
163     53.0
142     38.0
473     51.0
        ...
686     41.0
467     29.0
464     46.0
1068    25.0
181     49.0
Name: cumulative_aqi, Length: 624, dtype: float64

In [118]:
y_test

40     42.0
121    34.0
603    30.0
275    92.0
678    79.0
       ...
401    64.0
995    46.0
420    44.0
952    56.0
882    53.0
Name: cumulative_aqi, Length: 209, dtype: float64

In [119]:
from sklearn.linear_model import LinearRegression

In [120]:
lr_model = LinearRegression()

In [121]:
lr_model.fit(X_train, y_train)

LinearRegression()

preds = lr_model.predict(X_test)
preds#### Making predictions on the test set. I am using X_test to predict what I think the y values should be

In [122]:
lr_model.intercept_

14.273079867502549

In [123]:
lr_model.coef_

array([-3.44929604e+00,  2.09118398e-01, -1.43493957e+00,  1.59375450e+00,
       -4.82359641e+02,  7.93526092e-01,  2.40811640e-01, -2.59495680e-01,
        2.74671773e+00, -1.74261431e-01,  1.58892330e+00, -1.04044805e+00,
       -7.46062046e-03, -1.34681511e-03, -4.40371760e-03])

In [124]:
preds = lr_model.predict(X_test)
preds

array([42.13788764, 29.92175636, 37.83558978, 57.85035208, 79.0430562 ,
       66.68838473, 35.82404286, 27.993594  , 88.28137154, 46.38374592,
       41.07086116, 39.6954212 , 34.57831943, 39.4736635 , 34.7287469 ,
       34.86270949, 94.21414064, 25.26435899, 70.67927378, 29.79766722,
       27.34368619, 49.35861245, 34.04146434, 31.88636161, 36.08189436,
       65.72376855, 83.35492633, 55.67274363, 28.31888311, 33.40191494,
       67.30327744, 47.64909013, 24.26065037, 48.70088205, 65.70680976,
       36.86190803, 37.92796704, 51.67864618, 42.28231192, 44.28634461,
       28.84542106, 77.39537424, 38.49992541, 65.411616  , 49.92255328,
       32.92248142, 61.10608647, 46.97149024, 35.25454489, 48.22850492,
       31.2874564 , 31.87067274, 38.99161358, 34.38448002, 45.23969895,
       37.60565602, 56.36591892, 32.49467416, 37.81672382, 35.91504228,
       29.97846967, 37.94524769, 25.67677895, 58.21543674, 39.60016112,
       30.50620973, 45.67732047, 34.67339105, 39.84019007, 59.26737968,
       47.81992082, 25.61274491, 47.14188713, 38.30483489, 26.50830203,
       53.81680264, 37.67613522, 73.27963264, 84.95853952, 38.08270736,
       43.20574032, 33.53832191, 53.28917719, 57.43186556, 28.26403885,
       70.19820859, 34.85081791, 53.58821994, 77.76339765, 36.73609952,
       37.58862685, 23.4991306 , 70.68042431, 51.75165856, 43.20865877,
       27.38546082, 30.37816389, 33.26535994, 41.65874085, 45.80194982,
       29.21632255, 36.73322863, 41.17599935, 31.73911805, 45.53586359,
       39.87223818, 33.62950105, 25.64914988, 43.27060611, 33.6310173 ,
       55.79660734, 41.5943347 , 64.0911533 , 27.04664081, 57.19778481,
       39.39249099, 46.99707209, 12.24600907, 30.0174159 , 43.99262767,
       34.54898336, 31.89532316, 38.34626625, 28.42774011, 33.23689968,
       43.91359051, 28.60054653, 72.24791921, 53.68959316, 63.86722023,
       32.04985446, 29.07057046, 66.67243401, 55.48659119, 36.34438994,
       47.31248503, 40.40561457, 36.39338303, 25.91280221, 45.2214017 ,
       39.4718422 , 34.96974445, 45.19311171, 29.30457129, 42.45521338,
       74.85973429, 43.82365075, 35.99051325, 37.98557554, 42.62679473,
       48.63093008, 55.92976597, 31.46836761, 25.11770781, 19.19753247,
       48.33884631, 67.21598264, 37.90920317, 49.79738037, 40.17050996,
       34.74442668, 41.07786629, 34.34586161, 56.30841381, 24.70355221,
       46.30515464, 63.85083653, 34.26286634, 40.83593864, 74.93162114,
       47.65809921, 24.72319221, 26.73787144, 65.63798837, 45.19139785,
       46.76359015, 29.16049543, 37.42578371, 41.08384201, 27.11785308,
       42.12628631, 49.64100269, 33.27901102, 50.91451697, 43.18446318,
       34.88370838, 37.9192898 , 49.03868098, 63.97840577, 37.55892475,
       40.75967146, 51.68340388, 55.35340843, 39.71567961, 24.45135253,
       43.49747392, 32.66103123, 34.2445088 , 49.0815467 , 25.97203289,
       28.26883289, 32.18022211, 44.05706842, 46.59220625, 62.66778245,
       45.28593935, 41.62203423, 57.18184233, 54.04822976])

In [125]:
y_test

40     42.0
121    34.0
603    30.0
275    92.0
678    79.0
       ...
401    64.0
995    46.0
420    44.0
952    56.0
882    53.0
Name: cumulative_aqi, Length: 209, dtype: float64

In [126]:
lr_model.score(X_test, y_test)

0.8374067916984068

#### Let's create another regression model for the 5 features that are more correlated to AQI

In [127]:
df.corr()

,co_max,co_aqi_val,no2_max,no2_aqi_val,ozone_max,ozone_aqi_val,pm10_mean,pm10_aqi_val,pm2.5_mean,pm2.5_aqi_val,so2_max,so2_aqi_val,cumulative_aqi,temp_high,temp_low,temp_avg
co_max,1.000000,0.986597,0.599937,0.599859,0.030902,0.048137,0.517415,0.524354,0.539248,0.540587,0.318862,0.337230,0.504213,0.163132,0.037674,0.106302
co_aqi_val,0.986597,1.000000,0.610021,0.610056,0.044335,0.063370,0.537790,0.544812,0.547411,0.553371,0.333574,0.352091,0.518492,0.182855,0.053290,0.124391
no2_max,0.599937,0.610021,1.000000,0.999558,0.133758,0.128188,0.569989,0.573460,0.408129,0.418342,0.373433,0.385800,0.451642,0.096926,-0.039358,0.033931
no2_aqi_val,0.599859,0.610056,0.999558,1.000000,0.132646,0.127336,0.570054,0.573517,0.408869,0.419058,0.372116,0.384590,0.452129,0.099393,-0.037009,0.036380
ozone_max,0.030902,0.044335,0.133758,0.132646,1.000000,0.971392,0.375580,0.380481,-0.038889,-0.011406,0.191226,0.199076,0.236033,0.526546,0.446499,0.496927
ozone_aqi_val,0.048137,0.063370,0.128188,0.127336,0.971392,1.000000,0.376989,0.382380,0.002094,0.027020,0.177493,0.185374,0.300180,0.512097,0.436392,0.484307
pm10_mean,0.517415,0.537790,0.569989,0.570054,0.375580,0.376989,1.000000,0.997978,0.487980,0.518325,0.488429,0.511596,0.557125,0.437356,0.289876,0.374411
pm10_aqi_val,0.524354,0.544812,0.573460,0.573517,0.380481,0.382380,0.997978,1.000000,0.493591,0.524418,0.486654,0.509558,0.562341,0.443139,0.294209,0.379599
pm2.5_mean,0.539248,0.547411,0.408129,0.408869,-0.038889,0.002094,0.487980,0.493591,1.000000,0.981298,0.191838,0.199427,0.864797,-0.004627,-0.077875,-0.039377
pm2.5_aqi_val,0.540587,0.553371,0.418342,0.419058,-0.011406,0.027020,0.518325,0.524418,0.981298,1.000000,0.216932,0.226130,0.848021,0.024402,-0.054063,-0.012361
so2_max,0.318862,0.333574,0.373433,0.372116,0.191226,0.177493,0.488429,0.486654,0.191838,0.216932,1.000000,0.993299,0.329865,0.233367,0.133998,0.189992
so2_aqi_val,0.337230,0.352091,0.385800,0.384590,0.199076,0.185374,0.511596,0.509558,0.199427,0.226130,0.993299,1.000000,0.327845,0.242610,0.136597,0.196235
cumulative_aqi,0.504213,0.518492,0.451642,0.452129,0.236033,0.300180,0.557125,0.562341,0.864797,0.848021,0.329865,0.327845,1.000000,0.134017,0.046116,0.094510
temp_high,0.163132,0.182855,0.096926,0.099393,0.526546,0.512097,0.437356,0.443139,-0.004627,0.024402,0.233367,0.242610,0.134017,1.000000,0.938291,0.986505
temp_low,0.037674,0.053290,-0.039358,-0.037009,0.446499,0.436392,0.289876,0.294209,-0.077875,-0.054063,0.133998,0.136597,0.046116,0.938291,1.000000,0.982254
temp_avg,0.106302,0.124391,0.033931,0.036380,0.496927,0.484307,0.374411,0.379599,-0.039377,-0.012361,0.189992,0.196235,0.094510,0.986505,0.982254,1.000000

In [128]:
features = ['temp_high','co_max', 'no2_max',
        'pm10_mean', 'pm2.5_mean',]

In [129]:
X = df[features]

In [130]:
y = df['cumulative_aqi']

In [131]:
from sklearn.model_selection import train_test_split

In [132]:
X_train, X_test, y_train,y_test = train_test_split(X , y, random_state= 22)

In [133]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 624 entries, 816 to 181
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   temp_high   624 non-null    int64
 1   co_max      624 non-null    float64
 2   no2_max     624 non-null    float64
 3   pm10_mean   624 non-null    float64
 4   pm2.5_mean  624 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 29.2 KB

In [134]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209 entries, 40 to 882
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   temp_high   209 non-null    int64
 1   co_max      209 non-null    float64
 2   no2_max     209 non-null    float64
 3   pm10_mean   209 non-null    float64
 4   pm2.5_mean  209 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 9.8 KB

In [135]:
y_train

816     56.0
41      44.0
163     53.0
142     38.0
473     51.0
        ...
686     41.0
467     29.0
464     46.0
1068    25.0
181     49.0
Name: cumulative_aqi, Length: 624, dtype: float64

In [136]:
y_test

40     42.0
121    34.0
603    30.0
275    92.0
678    79.0
       ...
401    64.0
995    46.0
420    44.0
952    56.0
882    53.0
Name: cumulative_aqi, Length: 209, dtype: float64

In [137]:
from sklearn.linear_model import LinearRegression

In [138]:
lr_model = LinearRegression()

In [139]:
lr_model.fit(X_train, y_train)

LinearRegression()

#### Making predictions on the test set. I am using X_test to predict what I think the y values should be for the 5 features we have chosen

In [140]:
lr_model.intercept_

15.71103231952133

In [141]:
lr_model.coef_

array([ 0.07109816, -4.51931618,  0.10350801,  0.09424943,  2.19499569])

In [142]:
preds = lr_model.predict(X_test)
preds

array([43.15593768, 27.8798418 , 41.30264819, 50.14629871, 80.94142997,
       66.33448863, 32.60988422, 28.39143671, 87.10786276, 53.06797536,
       44.08588509, 36.13832836, 36.38133732, 46.19812502, 32.8328872 ,
       38.78525331, 76.58011115, 26.65421099, 72.77315639, 28.82448444,
       31.77026572, 50.17052316, 34.54156291, 30.49392558, 37.18251865,
       66.76666855, 84.01308443, 57.53484159, 26.3893142 , 32.21658582,
       54.49880244, 48.96732896, 23.06694186, 55.82541403, 63.83307684,
       35.01095813, 36.50684828, 56.5517397 , 45.05291797, 46.95332809,
       24.82715704, 75.5795133 , 42.59462743, 52.29722404, 51.77503049,
       30.61724357, 64.69643755, 50.12553176, 35.45556908, 50.53699355,
       33.0204561 , 32.44843794, 37.98767003, 37.20768355, 51.9227604 ,
       40.22003333, 55.15716808, 29.21806788, 44.46715398, 38.82264572,
       27.50702295, 39.453069  , 21.32459401, 57.80382028, 41.02689457,
       25.5578783 , 45.9589706 , 36.20196632, 39.96433145, 57.97855378,
       47.27385696, 27.4221788 , 49.6574337 , 38.93882624, 24.61760457,
       55.57425946, 41.4164881 , 51.13775163, 79.84321122, 34.9524904 ,
       40.28543372, 35.83922717, 57.03142683, 58.57198001, 32.27822105,
       70.80634172, 33.59831815, 57.48200724, 56.77119412, 36.28228958,
       39.0712417 , 26.00716226, 71.2216407 , 55.00518985, 43.21994431,
       24.05744761, 25.19346226, 31.14652467, 39.946755  , 45.89449932,
       25.49301003, 36.64787183, 40.30260185, 29.34532046, 43.84269435,
       39.76697967, 31.18656136, 24.90810855, 41.83697671, 30.4706857 ,
       55.72188374, 44.71329754, 54.86197832, 27.72564197, 59.04910237,
       38.42197764, 51.29662283, 15.61648864, 31.15297768, 48.95510141,
       37.05751267, 35.28873357, 36.58702958, 28.70995937, 31.03188149,
       43.44056122, 28.20928965, 69.98591819, 58.47455226, 60.59132997,
       31.42865018, 26.63596977, 61.87345414, 57.11464807, 35.05113778,
       52.40067364, 41.4136981 , 35.39383719, 23.33979515, 47.99062726,
       41.75951776, 33.19739672, 44.53216892, 30.09926957, 39.03124325,
       69.9355187 , 49.87115657, 36.82984617, 35.03956659, 43.21751609,
       52.50152959, 53.92088787, 29.19334488, 25.65276095, 20.77617434,
       47.09831536, 66.42563445, 40.1920839 , 50.26831794, 38.43563517,
       32.15552748, 42.58823572, 31.00869134, 55.72836747, 25.44978472,
       45.78318791, 63.31811331, 33.55420067, 42.51254332, 46.71096961,
       51.09361364, 22.42196892, 24.50560718, 65.05234721, 44.35247593,
       48.78730858, 28.37733994, 38.02409985, 36.8314613 , 28.96734107,
       42.87082848, 50.27755263, 32.53719673, 51.31461122, 44.00261496,
       36.76223445, 40.85688806, 49.51423742, 64.37386274, 38.40174827,
       38.06836008, 50.58969252, 57.85909449, 41.03501278, 23.12448299,
       45.54849978, 34.95514673, 34.07578552, 51.22037853, 23.41723088,
       29.80203292, 33.43050569, 45.44678853, 52.79623779, 60.51395949,
       47.86328332, 41.89170306, 54.96811567, 55.88598195])

In [143]:
y_test

40     42.0
121    34.0
603    30.0
275    92.0
678    79.0
       ...
401    64.0
995    46.0
420    44.0
952    56.0
882    53.0
Name: cumulative_aqi, Length: 209, dtype: float64

In [144]:
lr_model.score(X_test, y_test)

0.7170180212467077

##### The first model performed better than the second regression model, probably because it had more features. The reason we did a modeling with 5 features was to initially make our streamlit app more user friendly with few inputs for the user. At the end of our project when we had made more modelings we decided to go with the neural network, the model that performed better than any other model that we created.

### Data Dictionary

| Feature            | Python Type | Data Type  | Descritpion   |
| ---                | ---         | ---        | ---           |
| date (index)       | datetime    | Continuous | Date when observations were made  |
| high_temp          |   int64     | Continuous | Highest Temperature measured for the day (in degrees Fahrenheit) |
| low_temp           |   int64     | Continuous | Lowest Temperature measured for the day (in degrees Fahrenheit) |
| co_max             | float64     | Continuous | Amount of Carbon Monoxide measured in ppm |
| co_aqi_val         | float64     | Continuous | AQI value of Carbon Monoxide |
| no2_max            | float64     | Continuous | Amount of Nitrogen Dioxide measured in ppb |
| no2_aqi_val        | float64     | Continuous | AQI value of Nitrogen Dioxide |
| ozone_max          | float64     | Continuous | Amount of Ozone measured in ppm |
| ozone_aqi_val      | float64     | Continuous | AQI value of Ozone |
| pm10_mean          | float64     | Continuous | Average amount of 10um Particulate Matter measured in ug/m<sup>3</sup> |
| pm10_aqi_val       | float64     | Continuous | AQI value of 10um Particulate Matter |
| pm2.5_mean         | float64     | Continuous | Average amount of 2.5um Particulate Matter measured in ug/m<sup>3</sup> |
| pm2.5_aqi_val      | float64     | Continuous | AQI value of 2.5um Particulate Matter |
| so2_max            | float64     | Continuous | Amount of Sulfur Dioxide measured in ppb |
| so2_aqi_val        | float64     | Continuous | AQI value of Sulfur Dioxide |
| cumulitive_aqi     | float64     | Continuous | Calculated AQI for the day by taking the maximum value from all pollutants |
| pct_change_aqi     | float64     | Continuous | Percent changed in AQI from previous day |
| average_daily_temp | float64     | Continuous | Calculated Average Temperature (in degrees Fahrenheit; Mean of Highest and Lowest Temperatures) |
| month              | float64     | Nominal    | Month denoted by numeric value one through twelve |
| weekday            | float64     | Nominal    | Day of the week, assuming the week starts on Monday, which is denoted by 0 and ends on Sunday which is denoted by 6 |