# EDC and Cleaning

### Contents:
 - [Import](#Import)
 - [Inspecting](#Inspecting)
 - [Functions](#Functions)
 - [Export](#EXPORT)

## Import
[(back to top)](#EDC-and-Cleaning)

In [1]:
import numpy as np
import pandas as pd

import os
import warnings
warnings.simplefilter("ignore")

In [2]:
os.listdir('../data/')

['2017_all_cleveland_oh_CO.csv',
 '2017_all_cleveland_oh_NO2.csv',
 '2017_all_cleveland_oh_O3.csv',
 '2017_all_cleveland_oh_Pb.csv',
 '2017_all_cleveland_oh_PM10.csv',
 '2017_all_cleveland_oh_PM2.5.csv',
 '2017_all_cleveland_oh_SO2.csv']

In [3]:
co = pd.read_csv('../data/2017_all_cleveland_oh_CO.csv')

no2 = pd.read_csv('../data/2017_all_cleveland_oh_NO2.csv')

o3 = pd.read_csv('../data/2017_all_cleveland_oh_O3.csv')

pb = pd.read_csv('../data/2017_all_cleveland_oh_Pb.csv')

pm10 = pd.read_csv('../data/2017_all_cleveland_oh_PM10.csv')

pm25 = pd.read_csv('../data/2017_all_cleveland_oh_PM2.5.csv')

so2 = pd.read_csv('../data/2017_all_cleveland_oh_SO2.csv')

## Inspecting
[(back to top)](#EDC-and-Cleaning)

In [4]:
co.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1433 entries, 0 to 1432
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               1433 non-null   object
 1   Source                             1433 non-null   object
 2   Site ID                            1433 non-null   int64
 3   POC                                1433 non-null   int64
 4   Daily Max 8-hour CO Concentration  1433 non-null   float64
 5   UNITS                              1433 non-null   object
 6   DAILY_AQI_VALUE                    1433 non-null   int64
 7   Site Name                          1433 non-null   object
 8   DAILY_OBS_COUNT                    1433 non-null   int64
 9   PERCENT_COMPLETE                   1433 non-null   float64
 10  AQS_PARAMETER_CODE                 1433 non-null   int64
 11  AQS_PARAMETER_DESC                 1433 non-null   object
 12  CBSA_CODE                          1433 non-null   int64
 13  CBSA_NAME                          1433 non-null   object
 14  STATE_CODE                         1433 non-null   int64
 15  STATE                              1433 non-null   object
 16  COUNTY_CODE                        1433 non-null   int64
 17  COUNTY                             1433 non-null   object
 18  SITE_LATITUDE                      1433 non-null   float64
 19  SITE_LONGITUDE                     1433 non-null   float64
dtypes: float64(4), int64(8), object(8)
memory usage: 224.0+ KB

In [5]:
co.head(2)

,Date,Source,Site ID,POC,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2017,AQS,390350051,1,0.6,ppm,7,Galleria,19,79.0,42101,Carbon monoxide,17460,"Cleveland-Elyria, OH",39,Ohio,35,Cuyahoga,41.504605,-81.69045
1,01/02/2017,AQS,390350051,1,0.8,ppm,9,Galleria,24,100.0,42101,Carbon monoxide,17460,"Cleveland-Elyria, OH",39,Ohio,35,Cuyahoga,41.504605,-81.69045

In [6]:
co_df = co[['Date', 'COUNTY', 'Daily Max 8-hour CO Concentration', 'DAILY_AQI_VALUE']]
co_df['date_county'] = co_df['Date'] + ", " + co_df['COUNTY']
co_df.set_index('date_county', inplace=True)
co_df.head(2)

,Date,COUNTY,Daily Max 8-hour CO Concentration,DAILY_AQI_VALUE
date_county,,,,
"01/01/2017, Cuyahoga",01/01/2017,Cuyahoga,0.6,7
"01/02/2017, Cuyahoga",01/02/2017,Cuyahoga,0.8,9

In [7]:
co_df.drop(columns=['Date', 'COUNTY'], inplace=True)
co_df.head()

                      Daily Max 8-hour CO Concentration  DAILY_AQI_VALUE
date_county
01/01/2017, Cuyahoga                                0.6                7
01/02/2017, Cuyahoga                                0.8                9
01/03/2017, Cuyahoga                                0.9               10
01/04/2017, Cuyahoga                                0.7                8
01/05/2017, Cuyahoga                                0.6                7

In [8]:
co_df.isna().sum()

Daily Max 8-hour CO Concentration    0
DAILY_AQI_VALUE                      0
dtype: int64

In [9]:
co_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1433 entries, 01/01/2017, Cuyahoga to 12/31/2017, Lake
Data columns (total 2 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Daily Max 8-hour CO Concentration  1433 non-null   float64
 1   DAILY_AQI_VALUE                    1433 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 33.6+ KB

In [10]:
no2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Date                                699 non-null    object
 1   Source                              699 non-null    object
 2   Site ID                             699 non-null    int64
 3   POC                                 699 non-null    int64
 4   Daily Max 1-hour NO2 Concentration  699 non-null    int64
 5   UNITS                               699 non-null    object
 6   DAILY_AQI_VALUE                     699 non-null    int64
 7   Site Name                           699 non-null    object
 8   DAILY_OBS_COUNT                     699 non-null    int64
 9   PERCENT_COMPLETE                    699 non-null    float64
 10  AQS_PARAMETER_CODE                  699 non-null    int64
 11  AQS_PARAMETER_DESC                  699 non-null    object
 12  CBSA_CODE                           699 non-null    int64
 13  CBSA_NAME                           699 non-null    object
 14  STATE_CODE                          699 non-null    int64
 15  STATE                               699 non-null    object
 16  COUNTY_CODE                         699 non-null    int64
 17  COUNTY                              699 non-null    object
 18  SITE_LATITUDE                       699 non-null    float64
 19  SITE_LONGITUDE                      699 non-null    float64
dtypes: float64(3), int64(9), object(8)
memory usage: 109.3+ KB

In [11]:
no2.head()

,Date,Source,Site ID,POC,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2017,AQS,390350060,1,36,ppb,34,GT Craig NCore,23,96.0,42602,Nitrogen dioxide (NO2),17460,"Cleveland-Elyria, OH",39,Ohio,35,Cuyahoga,41.492117,-81.678449
1,01/02/2017,AQS,390350060,1,33,ppb,31,GT Craig NCore,23,96.0,42602,Nitrogen dioxide (NO2),17460,"Cleveland-Elyria, OH",39,Ohio,35,Cuyahoga,41.492117,-81.678449
2,01/03/2017,AQS,390350060,1,24,ppb,23,GT Craig NCore,21,88.0,42602,Nitrogen dioxide (NO2),17460,"Cleveland-Elyria, OH",39,Ohio,35,Cuyahoga,41.492117,-81.678449
3,01/05/2017,AQS,390350060,1,19,ppb,18,GT Craig NCore,23,96.0,42602,Nitrogen dioxide (NO2),17460,"Cleveland-Elyria, OH",39,Ohio,35,Cuyahoga,41.492117,-81.678449
4,01/06/2017,AQS,390350060,1,25,ppb,24,GT Craig NCore,23,96.0,42602,Nitrogen dioxide (NO2),17460,"Cleveland-Elyria, OH",39,Ohio,35,Cuyahoga,41.492117,-81.678449

In [12]:
no2_df = no2[['Date', 'COUNTY', 'Daily Max 1-hour NO2 Concentration', 'DAILY_AQI_VALUE']]
no2_df['date_county'] = no2_df['Date'] + ", " + no2_df['COUNTY']
no2_df.set_index('date_county', inplace=True)
no2_df.head(2)

,Date,COUNTY,Daily Max 1-hour NO2 Concentration,DAILY_AQI_VALUE
date_county,,,,
"01/01/2017, Cuyahoga",01/01/2017,Cuyahoga,36,34
"01/02/2017, Cuyahoga",01/02/2017,Cuyahoga,33,31

In [13]:
no2_df.drop(columns=['Date', 'COUNTY'], inplace=True)
no2_df.head()

                      Daily Max 1-hour NO2 Concentration  DAILY_AQI_VALUE
date_county
01/01/2017, Cuyahoga                                  36               34
01/02/2017, Cuyahoga                                  33               31
01/03/2017, Cuyahoga                                  24               23
01/05/2017, Cuyahoga                                  19               18
01/06/2017, Cuyahoga                                  25               24

In [14]:
no2_df.isna().sum()

Daily Max 1-hour NO2 Concentration    0
DAILY_AQI_VALUE                       0
dtype: int64

In [15]:
no2_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 699 entries, 01/01/2017, Cuyahoga to 12/31/2017, Cuyahoga
Data columns (total 2 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Daily Max 1-hour NO2 Concentration  699 non-null    int64
 1   DAILY_AQI_VALUE                     699 non-null    int64
dtypes: int64(2)
memory usage: 16.4+ KB

In [16]:
no2.columns[4]

'Daily Max 1-hour NO2 Concentration'

## Functions
[(back to top)](#EDC-and-Cleaning)

In [17]:
def clean_cleaveland_air(df_in, col = ''):
    if((len(col) == 0) & (df_in.shape[1] > 4)):
        col = df_in.columns[4]
    
    df_out = df_in[['Date', 'COUNTY', col, 'DAILY_AQI_VALUE']]
    df_out['date_county'] = df_out['Date'] + ", " + df_out['COUNTY']
    df_out.set_index('date_county', inplace=True)
    df_out.drop(columns=['Date', 'COUNTY'], inplace=True)
    print(f'\nSUM OF NaNs: {df_out.isna().sum().sum()}\n')
    return df_out

In [18]:
clean_no2 = clean_cleaveland_air(no2) #, 'Daily Max 1-hour NO2 Concentration')
clean_no2.head()

SUM OF NaNs: 0

                      Daily Max 1-hour NO2 Concentration  DAILY_AQI_VALUE
date_county
01/01/2017, Cuyahoga                                  36               34
01/02/2017, Cuyahoga                                  33               31
01/03/2017, Cuyahoga                                  24               23
01/05/2017, Cuyahoga                                  19               18
01/06/2017, Cuyahoga                                  25               24

In [19]:
clean_co = clean_cleaveland_air(co) #, 'Daily Max 8-hour CO Concentration')
clean_co.head()

SUM OF NaNs: 0

                      Daily Max 8-hour CO Concentration  DAILY_AQI_VALUE
date_county
01/01/2017, Cuyahoga                                0.6                7
01/02/2017, Cuyahoga                                0.8                9
01/03/2017, Cuyahoga                                0.9               10
01/04/2017, Cuyahoga                                0.7                8
01/05/2017, Cuyahoga                                0.6                7

In [20]:
clean_o3 = clean_cleaveland_air(o3)
clean_o3.head()

SUM OF NaNs: 0

                      Daily Max 8-hour Ozone Concentration  DAILY_AQI_VALUE
date_county
03/01/2017, Cuyahoga                                 0.038               35
03/02/2017, Cuyahoga                                 0.040               37
03/03/2017, Cuyahoga                                 0.040               37
03/04/2017, Cuyahoga                                 0.041               38
03/05/2017, Cuyahoga                                 0.039               36

In [21]:
clean_pb = clean_cleaveland_air(pb)
clean_pb.head()

SUM OF NaNs: 0

                      Daily Mean Pb Concentration DAILY_AQI_VALUE
date_county
01/01/2017, Cuyahoga                        0.007               .
01/07/2017, Cuyahoga                        0.006               .
01/13/2017, Cuyahoga                        0.005               .
01/19/2017, Cuyahoga                        0.007               .
01/25/2017, Cuyahoga                        0.011               .

In [22]:
clean_pm10 = clean_cleaveland_air(pm10)
clean_pm10.head()

SUM OF NaNs: 0

                      Daily Mean PM10 Concentration  DAILY_AQI_VALUE
date_county
01/01/2017, Cuyahoga                             28               26
01/06/2017, Cuyahoga                             33               31
01/11/2017, Cuyahoga                             26               24
01/16/2017, Cuyahoga                             46               43
01/21/2017, Cuyahoga                             25               23

In [23]:
clean_pm25 = clean_cleaveland_air(pm25)
clean_pm25.head()

SUM OF NaNs: 0

                      Daily Mean PM2.5 Concentration  DAILY_AQI_VALUE
date_county
01/01/2017, Cuyahoga                            11.8               49
01/04/2017, Cuyahoga                             5.6               23
01/07/2017, Cuyahoga                            16.6               60
01/10/2017, Cuyahoga                             5.0               21
01/13/2017, Cuyahoga                             6.2               26

In [24]:
clean_so2 = clean_cleaveland_air(so2)
clean_so2.head()

SUM OF NaNs: 0

                      Daily Max 1-hour SO2 Concentration  DAILY_AQI_VALUE
date_county
01/01/2017, Cuyahoga                                11.0               16
01/02/2017, Cuyahoga                                 6.0                9
01/03/2017, Cuyahoga                                 0.0                0
01/04/2017, Cuyahoga                                 0.0                0
01/05/2017, Cuyahoga                                 0.0                0

## EXPORT
[(back to top)](#EDC-and-Cleaning)

In [25]:
output_files = ['../data/2017_clean_cleveland_oh_CO.csv',
                '../data/2017_clean_cleveland_oh_NO2.csv',
                '../data/2017_clean_cleveland_oh_O3.csv',
                '../data/2017_clean_cleveland_oh_Pb.csv',
                '../data/2017_clean_cleveland_oh_PM10.csv',
                '../data/2017_clean_cleveland_oh_PM2.5.csv',
                '../data/2017_clean_cleveland_oh_SO2.csv']

In [26]:
output_clean_dfs = [clean_co,
                    clean_no2,
                    clean_o3,
                    clean_pb,
                    clean_pm10,
                    clean_pm25,
                    clean_so2]

In [27]:
for i in range(len(output_clean_dfs)):
    output_clean_dfs[i].to_csv(output_files[i])